$topNavHeight: 60px;
$leftNavWidth: 200px;
$globalPd: 30px 40px;
.navWidth200 {
	width: 200px;
}
.navWidth60 {
	width: 64px;
}
.containerLeft200 {
	left: 200px;
}
.containerLeft60 {
	left: 64px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}